FRONTEND_PORT=3000
BACKEND_PORT=5000
SCRAPER_PORT=5001
INDOBERT_PORT=5002
POSTGRES_EXTERNAL_PORT=5432

POSTGRES_PASSWORD=S3NT1M3N_DB4S
DATABASE_URL=postgresql://postgres:S3NT1M3N_DB4S@postgres:5432/sentitrack?schema=public

REDIS_HOST=redis
REDIS_PORT=6379

JWT_ACCESS_SECRET=S3NT1M3N_ACC3SS_T0K3N_S3CR3T
JWT_REFRESH_SECRET=S3NT1M3N_R3FR3SH_T0K3N_S3CR3T
JWT_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:3000
FRONTEND_URL=http://localhost:3000
SCRAPER_BASE_URL=http://scraper:5001
INDOBERT_BASE_URL=http://indobert:5002

NEXT_PUBLIC_API_URL=http://localhost:5000

GEMINI_API_KEY=
HF_TOKEN=

DEVICE=cpu
BATCH_SIZE=8
MAX_LENGTH=128
MODEL_NAME=Aardiiiiy/indobertweet-base-Indonesian-sentiment-analysis
